*
!.gitignore

applications/*
!applications/edge/.gitignore

conf/*
!conf/live/*
!conf/edge/*
!conf/livehttporigin/*
!conf/Application.xml
!conf/Server.xml
!conf/VHost.xml
!conf/VHosts.xml

lib/*
!lib/StreamEvents.jar

!StreamEvents/**

!*/